.fight-ground{
    display:none;
    width: 100%;
    height: 25vw;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    margin: 2rem auto;
    overflow: hidden;
}
.referee{
    width: 25%;
    height: 25%;
    @include flex(column, space-around, center);
    .result{
        font-size: 1.5rem;
    }
    .play-again{
        background: #fff;
        font-size: .75rem;
        border-radius: 15px;
        color: #000;
        padding: .3rem 1.5rem;
        transition: .3s ease;
        &:hover{
            transform: scale(1.2);
        }
    }
}
.fighter-circle{
    width:25%;
    height: 60%;
    border-radius: 50%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 70%;
    transition: all .3s;
    &:hover{
        transform: scale(1.1);
    }
}

.battle-ground{
    width: 80%;
    height: 30vw;
    @include flex(column, space-between, flex-start);
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDUiIGhlaWdo%0D%0AdD0iMjc3Ij48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMTUi%0D%0AIGQ9Ik0yOTEuNSA3LjVINC41NzRjMy4xMTkgMCA1Mi40MTYgODQuNjY3IDE0Ny44OTIgMjU0TDI5%0D%0AMS41IDcuNXoiIG9wYWNpdHk9Ii4yIi8+PC9zdmc+);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 70%;
    padding: .5rem;
    margin: 2rem auto;
    overflow: hidden;

    .battle-ground__two-circles{
        width: 100%;
        height: 48%;
        @include flex(row, space-around, center);
        overflow: hidden;
    }
    .battle-ground__one-circle{
        width: 100%;
        height: 48%;
        @include flex(row, center, center);
        overflow: hidden;
    }
}
.player-circle{
    width:30%;
    height: 90%;
    border-radius: 50%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 70%;
    box-shadow: inset -33px 29px 151px -120px rgba(0,0,0,1);
    transition: all .3s;
    &:hover{
        transform: scale(1.1);
    }
}
.paper-circle{
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OSIgaGVpZ2h0%0D%0APSI1OSI+PHBhdGggZmlsbD0iIzNCNDI2MiIgZD0iTTQ3LjEyNSAxMS44MzJhMi45MjIgMi45MjIg%0D%0AMCAwMC0xLjIzMi0uMTk4Yy0uNTcuMDQtMS4wMjkuMjcxLTEuMzAyLjY1LTEuNjA0IDIuMjQ4LTIu%0D%0AOTE5IDYuNDkzLTMuOTc5IDkuOTA1LS40ODYgMS41NzctMS4xNCAzLjY4OC0xLjYxMiA0LjY5LS40%0D%0AOTMtMi44MDcuMDY0LTEzLjA5LjI4LTE3LjA1bC4wMDMtLjA2NGMuMTUtMi43NTEuMTctMy4yMzQu%0D%0AMTM4LTMuNDQ2LS4yMzgtMS41MDktLjg0My0yLjUtMS43OTktMi45NDMtLjk2Ni0uNDUtMi4yMi0u%0D%0AMjUtMy41NzIuNTYzLS42NzcuNDEtLjg2NSAxLjgxNi0xLjQ0NiA4LjE5bC0uMDAyLjAyOGMtLjMy%0D%0AIDMuNTAyLTEuMDU4IDExLjU2Ni0xLjk2NSAxMi45MS0xLjAyMy0xLjg4LTIuNDMxLTEyLjU1NS0z%0D%0ALjAzOS0xNy4xNzYtLjQyNS0zLjIzNi0uNjczLTUuMDk0LS44NC01LjY1NS0uMzUtMS4xNzYtMS44%0D%0AMy0yLjE3Ni0zLjI5NS0yLjIzMi0xLjIyLS4wNi0yLjIyLjU2LTIuNjk4IDEuNjM4LS44OTQuOTk1%0D%0ALS41NzggNC4yOTIuNDEgMTIuMTAyLjQ3IDMuNzE4IDEuNDQgMTEuMzk1LjgzIDEyLjI1Ny0xLjIx%0D%0AOS0uMTMzLTMuMzEtNC45NDItNi4yMTUtMTQuMjk5LS44MTYtMi42Mi0xLjA2OC0zLjQwOC0xLjMx%0D%0AOC0zLjc1My0uNDk0LTEuMjAyLTIuMTcyLTIuMTI5LTMuNjc2LTIuMDI0YTMuMTgzIDMuMTgzIDAg%0D%0AMDAtLjM3Ny4wNDljLS43ODcuMTU2LTIuNTg0Ljg4MS0yLjIgNC4yMjYgMS4wNiA0LjYzNyAyLjIx%0D%0AMyA4LjA0MSAzLjMzMSAxMS4zNDZsLjAyMy4wNjZjLjY2OSAxLjk4IDEuMzAyIDMuODUgMS44OSA1%0D%0ALjkyNSAxLjM4NSA0LjkuODQ2IDcuOTQuODQgNy45NzUtLjA0Ni4zMTItLjE0My41MDMtLjI4OC41%0D%0AN2EuNTU2LjU1NiAwIDAxLS4xOTUuMDQ1Yy0uNDQuMDMtMS4wOTgtLjI2LTEuNDM3LS40NS0uNzc2%0D%0ALTEuNDgyLTQuNjM2LTguNTQ0LTguMTM0LTkuNTI0bC0uMTI2LS4wMzctLjEyNy4wMTJjLTEuMjgz%0D%0ALjEyMS0yLjIyNi42MDYtMi44MDMgMS40NDEtLjkxNCAxLjMyLS41MzUgMy4wMDItLjQ0NCAzLjM0%0D%0AbC4wNTIuMTJjLjAyOC4wNTEgMi44MzQgNS4xNjUgMy4yNjggNy41NDQuMzc0IDIuMDQgMi4zMTEg%0D%0ANC4yNSAzLjg2OSA2LjAyNmwuMDY0LjA3M2MuNTA4LjU4Ljk0NiAxLjA4MyAxLjI5MiAxLjU0OCA0%0D%0ALjUxOSA0LjcxMyAxMS42NjUgOC42NzcgMTEuNzIzIDguNzEuODkyLjY1NyAxLjM4NyAxLjI5MyAx%0D%0ALjQ0IDEuODRhLjc5OC43OTggMCAwMS0uMTYuNThsLS4xNTUuMTYyLjk4OC45NiAxOC44NTMtMS4z%0D%0AMjQuODA0LTMuNjg0YzIuNDg2LTEwLjQwMiAxLjk2Ny0xOS4yNzIgMS45NTgtMTkuMzMuMDEtLjMy%0D%0ANy43MDYtMy40ODMgMS4yNjYtNi4wMzNsLjAxNy0uMDY1YzEuMTE3LTUuMDggMi41MDUtMTEuNCAy%0D%0ALjc3Mi0xMy44MDMuMTE2LTEuMDI4LS41NDItMS45NzItMS42NzUtMi40MDF6Ii8+PC9zdmc+);
    border: 1rem solid #4c69f1;
}
.scissors-circle{
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MSIgaGVpZ2h0%0D%0APSI1OCI+PHBhdGggZmlsbD0iIzNCNDI2MiIgZD0iTTEzLjk3MSAyNS43MDJsNi4wMTItOC40MTVj%0D%0ALTIuNDk5LS40MTUtNy4wODgtLjUwNy0xMC44NDYgMy4yMzVDMy4yMTIgMjYuNDIxLjgxMiAzOS4x%0D%0ANjMuMzEyIDQyLjI0OEwxNS4zNyA1Ny4yNGMyLjcxMS0uMjMyIDE0LjcxMy0xLjgyNyAyNi4yNzkt%0D%0AMTMuMzQuMTIyLS4yNDkgMi45NC0yLjMyMS42MzYtNC42MTQtMS4xLTEuMDk1LTIuOTE5LTEuMDc0%0D%0ALTQuMDQyLjA0NC0uNTcyLjU3LTEuNDYxLjU3Ny0yLjAyMS4wMi0uNTYtLjU1Ny0uNTUyLTEuNDQz%0D%0ALjAyLTIuMDEybDQuMDg3LTQuMDY5YzIuMDc2LTIuMDY3LjExOS01LjU1NS0yLjc4LTQuNzE3bC0z%0D%0ALjM0NSAyLjg1MWMtLjYxMS41My0xLjUyLjQzOS0yLjAyMi0uMTQtLjUxOS0uNTk3LS40MDgtMS41%0D%0AMDMuMTgzLTIuMDEzIDExLjY4Ny0xMC4yMDggOS45OC04Ljk3OSAxNy41LTE1Ljk5NSAyLjgwOS0y%0D%0ALjMyOS0uNzI1LTYuNDQ3LTMuNDkzLTQuMDlMMjguMTgyIDI1LjQ1Yy0uNTI5LjQ0OC0xLjM0LjQ1%0D%0ANy0xLjg2LS4wMi0uNjAxLS41MTctLjYxNS0xLjI2Mi0uMjIyLTEuODVMMzguNzg3IDMuOTQ0YzEu%0D%0AODU0LTIuNS0xLjc5NS01LjI3Ny0zLjc0OS0yLjc1N0wxNi4yOCAyNy4zMDdjLS40NTIuNjUtMS4z%0D%0ANjQuOC0xLjk4NS4zNDVhMS4zNzcgMS4zNzcgMCAwMS0uMzIzLTEuOTV6Ii8+PC9zdmc+);
    border: 1rem solid #f39f1b;
}
.rock-circle{
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0%0D%0APSI0OCI+PHBhdGggZmlsbD0iIzNCNDI2MiIgZD0iTTQ1LjA2IDEyLjIyYy0uNjQyLTguMDk2LTku%0D%0ANzM0LTcuMjY5LTkuNzM0LTcuMjY5LTMuODM3LTYuNzY1LTkuODMyLTEuODY1LTkuODMyLTEuODY1%0D%0ALTQuNjA2LTYuNjMtMTAuMzgtLjQ4Ni0xMC4zOC0uNDg2LTkuOTU3LTEuMDc0LTkuNTcxIDcuMDY2%0D%0ALTkuNTcxIDcuMDY2LS4yMzQgMi41ODggMS40MDMgMTAuNTkzIDEuNDAzIDEwLjU5My0xLjQ3Ny00%0D%0ALjYxNC00LjY4LS43ODQtNC42OC0uNzg0LTMuOTQgNi4wNzgtLjk3NSA5LjQwNS0uOTc1IDkuNDA1%0D%0AIDUuMzMgNi4yNDYgMTYuNjg4IDEzLjc0MyAxNi42ODggMTMuNzQzIDQuMTEzIDIuMzU2IDIuMzcz%0D%0AIDQuNDU3IDIuMzczIDQuNDU3bDI0Ljg3Ni00LjExLjU3MS00LjcxOGMzLjc4Mi0xMS40MzYtLjcz%0D%0AOS0yNi4wMzItLjczOS0yNi4wMzJ6Ii8+PC9zdmc+);
    border: 1rem solid #dc3c58;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 70%;
}