
$background : linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
$darkText : hsl(229, 25%, 31%);
$scoreText : hsl(229, 64%, 46%);
$headerOutline : hsl(217, 16%, 45%);

@mixin flex($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}