* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-weight: 600;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
}

.body {
  background: -webkit-gradient(linear, left top, left bottom, from(#1f3756), to(#141539));
  background: linear-gradient(#1f3756, #141539);
}

.container {
  max-width: 60%;
  margin: 0 auto;
  height: 52.5vw;
  border: 1px solid #fff;
  padding: .05rem 0;
  overflow: hidden;
}

.dash-board {
  width: 90%;
  height: 13vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 1rem auto;
  border: 2px solid #606e85;
  border-radius: 15px;
  padding: 1rem;
  overflow: hidden;
}

.dash-board .dash-board__player-list {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
  padding: 1rem;
}

.dash-board .dash-board__player-list .players-img {
  max-width: 100%;
  height: auto;
}

.dash-board .dash-board__score {
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #000;
  padding: 1rem;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
}

.dash-board .dash-board__score .score-text {
  color: #2a46c0;
  font-size: 1.5rem;
}

.dash-board .dash-board__score .players-score {
  color: #2a46c0;
  font-size: 2.5rem;
}

.battle-ground {
  border: 1px solid #fff;
  width: 80%;
  height: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: .5rem;
  margin: 2rem auto;
  overflow: hidden;
}

.battle-ground .battle-ground__two-circles {
  width: 100%;
  height: 48%;
  border: 1px solid black;
  overflow: hidden;
}

.battle-ground .battle-ground__one-circle {
  width: 100%;
  height: 48%;
  border: 1px solid black;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */