@import "_varibles.scss";
@import "_rules.scss";
@import "_battle-ground.scss";
@import "_responsive.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-weight: 600;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}
.body{
    background: $background;
}
.container{
    max-width: 60%;
    margin: 0 auto;
    height: 100vh;
    padding: .05rem 0;
    overflow: hidden;
}
.dash-board{
    width: 90%;
    height: 13vw;
    @include flex(row, space-between, flex-start);
    margin: 1rem auto;
    border: 2px solid $headerOutline;
    border-radius: 15px;
    padding: 1rem;
    overflow: hidden;
    .dash-board__player-list{
        width: 30%;
        height: 100%;
        @include flex(column, center, flex-start);
        overflow: hidden;
        padding: 1rem;

        .players-img{
            max-width: 100%;
            height: auto;
        }
    }
    .dash-board__score{
        width: 25%;
        height: 100%;
        @include flex(column, center, center);
        padding: 1rem;
        overflow: hidden;
        background : #fff;
        border-radius: 10px;
        .score-text{
            color: $scoreText;
            margin-bottom: .5rem;
        }
        .players-score{
            color: $scoreText;
            font-size: 2.5rem;
        }
    }
}

@media screen and (max-width: 768px){
    .container{
        max-width: 100% !important;
    }
    .dash-board{
        height: 25vw;
    }
    .battle-ground{
        height: 50vw !important;
    }
    .fight-ground{
        height: 50vw !important;
    }
    .rules-block{
        width: 50% !important;
        height: 50vw !important;
    }
    .rules-block__body{
        height: 40vw !important;
    }
}
@media screen and (max-width: 425px){
    .score-text{
        font-size: .5rem !important;
    }
    .battle-ground{
        width: 100% !important;
        height: 70vw !important;
    }
    .players-score{
        font-size: 1rem !important;
    }
    .rules{
        right: 50%;
        transform: translate(50%);
        &:hover{
            transform: scale(1) !important;
        }
    }
    .block-on-off{
        display: block !important;
    }
    .rules-block{
        width: 70% !important;
        height: 70vw !important;
    }
    .rules-block__body{
        height: 60vw !important;
    }
    .result{
        font-size: 1rem !important;
    }
    .play-again{
        font-size: .6rem !important;
        padding: .2rem 1rem !important;
    }
    .fight-ground{
        flex-direction: column !important;
        height: 75vw !important;
    }
    .referee{
        margin: 1rem 0 !important;
    }
}
@media screen and (max-width: 342px){
    .battle-ground{
        height: 80vw !important;
    }
    .result{
        font-size: .7rem !important;
    }
    .play-again{
        font-size: .5rem !important;
        padding: .2rem 1rem !important;
    }
}