.rules-container {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.rules-block {
  position: absolute;
  width: 30%;
  height: 30vw;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #fff;
  border-radius: 15px;
  padding: 1rem;
}

.rules-block .rules-block__header {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.rules-block .rules-block__header .rules-title {
  color: #2a46c0;
  font-size: 2rem;
  font-weight: bold;
}

.rules-block .rules-block__header .rules-close {
  color: #2a46c0;
  font-size: 2rem;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.rules-block .rules-block__header .rules-close:hover {
  color: #000;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.rules-block .rules-block__body {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDQiIGhlaWdo%0D%0AdD0iMjcwIj48ZGVmcz48bGluZWFyR3JhZGllbnQgaWQ9ImEiIHgxPSI1MCUiIHgyPSI1MCUiIHkx%0D%0APSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNGRkYiIHN0b3At%0D%0Ab3BhY2l0eT0iLjA5NyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI0ZGRiIgc3Rv%0D%0AcC1vcGFjaXR5PSIwIi8+PC9saW5lYXJHcmFkaWVudD48bGluZWFyR3JhZGllbnQgaWQ9ImIiIHgx%0D%0APSI1MCUiIHgyPSI1MCUiIHkxPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3At%0D%0AY29sb3I9IiNGRkYiIHN0b3Atb3BhY2l0eT0iLjA5NyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3Rv%0D%0AcC1jb2xvcj0iI0ZGRiIgc3RvcC1vcGFjaXR5PSIwIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+%0D%0APGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48ZWxsaXBzZSBjeD0iNTMuMTg5IiBj%0D%0AeT0iNTQuODE1IiBmaWxsPSIjQjFCNEM1IiByeD0iNTMuMTg5IiByeT0iNTQuODE1Ii8+PGVsbGlw%0D%0Ac2UgY3g9IjUzLjE4OSIgY3k9IjUyLjM4NSIgZmlsbD0idXJsKCNhKSIgcng9IjUzLjE4OSIgcnk9%0D%0AIjUyLjM4NSIvPjxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEyLjM1NyAxMi40MjEpIj48ZWxsaXBz%0D%0AZSBjeD0iNDAuODMyIiBjeT0iNDEuMDQ0IiBmaWxsPSIjRTFFNEVEIiByeD0iNDAuODMyIiByeT0i%0D%0ANDEuMDQ0Ii8+PHBhdGggZmlsbD0iIzhBOTBBQyIgZmlsbC1ydWxlPSJub256ZXJvIiBkPSJNNTYu%0D%0ANjk3IDMwLjQxN2EyLjEyNSAyLjEyNSAwIDAwLS45MDQtLjE0NmMtLjQxNy4wMy0uNzU1LjIwMS0u%0D%0AOTU1LjQ4MS0xLjE3NyAxLjY2Ni0yLjE0MSA0LjgxLTIuOTE5IDcuMzM3LS4zNTcgMS4xNjktLjgz%0D%0ANiAyLjczMy0xLjE4MyAzLjQ3NS0uMzYyLTIuMDguMDQ3LTkuNjk3LjIwNi0xMi42M2wuMDAyLS4w%0D%0ANDdjLjExLTIuMDM4LjEyNS0yLjM5Ni4xLTIuNTUzLS4xNzQtMS4xMTgtLjYxOC0xLjg1Mi0xLjMx%0D%0AOS0yLjE4LS43MDgtLjMzMy0xLjYyOS0uMTg2LTIuNjIuNDE3LS40OTcuMzAzLS42MzUgMS4zNDUt%0D%0AMS4wNjEgNi4wNjdsLS4wMDIuMDJjLS4yMzUgMi41OTUtLjc3NiA4LjU2OC0xLjQ0MSA5LjU2My0u%0D%0ANzUtMS4zOTItMS43ODQtOS4zLTIuMjMtMTIuNzIyLS4zMTItMi4zOTctLjQ5NC0zLjc3NC0uNjE2%0D%0ALTQuMTktLjI1Ny0uODctMS4zNDMtMS42MTEtMi40MTgtMS42NTMtLjg5NS0uMDQ0LTEuNjI5LjQx%0D%0ANS0xLjk4IDEuMjE0LS42NTUuNzM2LS40MjMgMy4xNzkuMzAyIDguOTY0LjM0NCAyLjc1NCAxLjA1%0D%0ANiA4LjQ0MS42MDggOS4wOC0uODkzLS4wOTktMi40MjctMy42NjEtNC41NTktMTAuNTkyLS41OTgt%0D%0AMS45NDItLjc4My0yLjUyNS0uOTY3LTIuNzgtLjM2Mi0uODkxLTEuNTkzLTEuNTc4LTIuNjk2LTEu%0D%0ANWEyLjMxNCAyLjMxNCAwIDAwLS4yNzcuMDM2Yy0uNTc4LjExNi0xLjg5Ni42NTMtMS42MTUgMy4x%0D%0AMy43NzkgMy40MzUgMS42MjQgNS45NTcgMi40NDUgOC40MDVsLjAxNi4wNWMuNDkxIDEuNDY1Ljk1%0D%0ANSAyLjg1IDEuMzg3IDQuMzg4IDEuMDE2IDMuNjMuNjIxIDUuODgyLjYxNiA1LjkwNy0uMDM0LjIz%0D%0AMi0uMTA1LjM3NC0uMjExLjQyM2EuNDA1LjQwNSAwIDAxLS4xNDMuMDMzYy0uMzIyLjAyMy0uODA1%0D%0ALS4xOTMtMS4wNTUtLjMzMy0uNTY4LTEuMDk4LTMuNC02LjMzLTUuOTY3LTcuMDU1TDI1LjE1IDQx%0D%0AbC0uMDkzLjAwOGMtLjk0Mi4wOS0xLjYzNC40NS0yLjA1NyAxLjA2OC0uNjcuOTc4LS4zOTMgMi4y%0D%0AMjQtLjMyNSAyLjQ3NGwuMDM4LjA5Yy4wMi4wMzcgMi4wNzkgMy44MjUgMi4zOTcgNS41ODcuMjc1%0D%0AIDEuNTExIDEuNjk2IDMuMTQ4IDIuODM4IDQuNDY0bC4wNDcuMDU0Yy4zNzMuNDMuNjk1LjgwMi45%0D%0ANDggMS4xNDYgMy4zMTYgMy40OTIgOC41NTggNi40MjggOC42MDEgNi40NTIuNjU0LjQ4NyAxLjAx%0D%0AOC45NTggMS4wNTYgMS4zNjNhLjU5NS41OTUgMCAwMS0uMTE3LjQzbC0uMTE0LjEyLjcyNS43MTEg%0D%0AMTMuODMyLS45OC41OS0yLjczYzEuODIzLTcuNzA1IDEuNDQyLTE0LjI3NSAxLjQzNi0xNC4zMTku%0D%0AMDA3LS4yNDIuNTE4LTIuNTguOTMtNC40NjhsLjAxMS0uMDQ4Yy44Mi0zLjc2MyAxLjgzOC04LjQ0%0D%0ANCAyLjAzNC0xMC4yMjUuMDg1LS43NjEtLjM5OC0xLjQ2LTEuMjMtMS43Nzl6Ii8+PC9nPjxnIHRy%0D%0AYW5zZm9ybT0idHJhbnNsYXRlKDE5NikiPjxlbGxpcHNlIGN4PSI1My42ODYiIGN5PSI1NC44MTUi%0D%0AIGZpbGw9IiNCMUI0QzUiIHJ4PSI1My42ODYiIHJ5PSI1NC44MTUiLz48ZWxsaXBzZSBjeD0iNTMu%0D%0ANjg2IiBjeT0iNTIuMzg1IiBmaWxsPSJ1cmwoI2IpIiByeD0iNTMuNjg2IiByeT0iNTIuMzg1Ii8+%0D%0APGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTIuNDczIDEyLjQyMSkiPjxlbGxpcHNlIGN4PSI0MS4y%0D%0AMTQiIGN5PSI0MS4wNDQiIGZpbGw9IiNFMUU0RUQiIHJ4PSI0MS4yMTQiIHJ5PSI0MS4wNDQiLz48%0D%0AcGF0aCBmaWxsPSIjOEE5MEFDIiBmaWxsLXJ1bGU9Im5vbnplcm8iIGQ9Ik0zMC40NTUgNDAuNjky%0D%0AbDQuNDUxLTYuMjM0Yy0xLjg1LS4zMDctNS4yNDgtLjM3NS04LjAzMSAyLjM5Ny00LjM4OCA0LjM3%0D%0ALTYuMTY1IDEzLjgwOS02LjUzNSAxNi4wOTNsMTEuMTUgMTEuMTA1YzIuMDA4LS4xNyAxMC44OTYt%0D%0AMS4zNTMgMTkuNDYtOS44ODEuMDktLjE4NCAyLjE3Ny0xLjcyLjQ3MS0zLjQxOC0uODE0LS44MS0y%0D%0ALjE2Mi0uNzk2LTIuOTkzLjAzM2ExLjA1MSAxLjA1MSAwIDAxLTEuNDk3LjAxNSAxLjA0IDEuMDQg%0D%0AMCAwMS4wMTUtMS40OWwzLjAyNi0zLjAxNGMxLjUzOC0xLjUzMi4wODktNC4xMTYtMi4wNTgtMy40%0D%0AOTVsLTIuNDc3IDIuMTEyYTEuMDY1IDEuMDY1IDAgMDEtMS40OTctLjEwM2MtLjM4NC0uNDQzLS4z%0D%0AMDItMS4xMTQuMTM1LTEuNDkyIDguNjU0LTcuNTYyIDcuMzktNi42NSAxMi45NTgtMTEuODQ4IDIu%0D%0AMDgtMS43MjUtLjUzNi00Ljc3Ni0yLjU4Ni0zLjAzTDQwLjk3OCA0MC41MDZhMS4wNTEgMS4wNTEg%0D%0AMCAwMS0xLjM3OC0uMDE1Yy0uNDQ1LS4zODMtLjQ1NS0uOTM0LS4xNjQtMS4zN2w5LjM5NS0xNC41%0D%0ANDVjMS4zNzMtMS44NTItMS4zMy0zLjkxLTIuNzc2LTIuMDQyTDMyLjE2NCA0MS44ODFhMS4wNSAx%0D%0ALjA1IDAgMDEtMS40Ny4yNTUgMS4wMiAxLjAyIDAgMDEtLjI0LTEuNDQ0eiIvPjwvZz48L2c+PGcg%0D%0AdHJhbnNmb3JtPSJ0cmFuc2xhdGUoOTggMTYwKSI+PGVsbGlwc2UgY3g9IjUzLjY4NiIgY3k9IjU0%0D%0ALjgxNSIgZmlsbD0iI0IxQjRDNSIgcng9IjUzLjY4NiIgcnk9IjU0LjgxNSIvPjxlbGxpcHNlIGN4%0D%0APSI1My42ODYiIGN5PSI1Mi4zODUiIGZpbGw9InVybCgjYikiIHJ4PSI1My42ODYiIHJ5PSI1Mi4z%0D%0AODUiLz48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMi40NzMgMTIuNDIxKSI+PGVsbGlwc2UgY3g9%0D%0AIjQxLjIxNCIgY3k9IjQxLjA0NCIgZmlsbD0iI0UxRTRFRCIgcng9IjQxLjIxNCIgcnk9IjQxLjA0%0D%0ANCIvPjxwYXRoIGZpbGw9IiM4QTkwQUMiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTU3LjE3OSAz%0D%0ANS4xNWMtLjQ3NS01Ljk5Ny03LjIwOC01LjM4NS03LjIwOC01LjM4NS0yLjg0Mi01LjAxLTcuMjgx%0D%0ALTEuMzgxLTcuMjgxLTEuMzgxLTMuNDEtNC45MTEtNy42ODctLjM2LTcuNjg3LS4zNi03LjM3My0u%0D%0ANzk2LTcuMDg3IDUuMjM0LTcuMDg3IDUuMjM0LS4xNzMgMS45MTcgMS4wNCA3Ljg0NyAxLjA0IDcu%0D%0AODQ3LTEuMDk0LTMuNDE4LTMuNDY3LS41ODEtMy40NjctLjU4MS0yLjkxNyA0LjUwMi0uNzIxIDYu%0D%0AOTY3LS43MjEgNi45NjcgMy45NDcgNC42MjYgMTIuMzU3IDEwLjE4IDEyLjM1NyAxMC4xOCAzLjA0%0D%0ANiAxLjc0NSAxLjc1NyAzLjMgMS43NTcgMy4zbDE4LjQyLTMuMDQ0LjQyNC0zLjQ5NGMyLjgtOC40%0D%0ANzItLjU0Ny0xOS4yODQtLjU0Ny0xOS4yODR6Ii8+PC9nPjwvZz48dGV4dCBmaWxsPSIjQjFCNEM1%0D%0AIiBmb250LWZhbWlseT0iQmFybG93U2VtaUNvbmRlbnNlZC1Cb2xkLCBCYXJsb3cgU2VtaSBDb25k%0D%0AZW5zZWQiIGZvbnQtc2l6ZT0iMTMiIGZvbnQtc3R5bGU9ImNvbmRlbnNlZCIgZm9udC13ZWlnaHQ9%0D%0AImJvbGQiPjx0c3BhbiB4PSIxMzQiIHk9IjMxIj5CRUFUUzwvdHNwYW4+PC90ZXh0Pjx0ZXh0IGZp%0D%0AbGw9IiNCMUI0QzUiIGZvbnQtZmFtaWx5PSJCYXJsb3dTZW1pQ29uZGVuc2VkLUJvbGQsIEJhcmxv%0D%0AdyBTZW1pIENvbmRlbnNlZCIgZm9udC1zaXplPSIxMyIgZm9udC1zdHlsZT0iY29uZGVuc2VkIiBm%0D%0Ab250LXdlaWdodD0iYm9sZCI+PHRzcGFuIHg9IjQwIiB5PSIxNDciPkJFQVRTPC90c3Bhbj48L3Rl%0D%0AeHQ+PHRleHQgZmlsbD0iI0IxQjRDNSIgZm9udC1mYW1pbHk9IkJhcmxvd1NlbWlDb25kZW5zZWQt%0D%0AQm9sZCwgQmFybG93IFNlbWkgQ29uZGVuc2VkIiBmb250LXNpemU9IjEzIiBmb250LXN0eWxlPSJj%0D%0Ab25kZW5zZWQiIGZvbnQtd2VpZ2h0PSJib2xkIj48dHNwYW4geD0iMjM1IiB5PSIxNDciPkJFQVRT%0D%0APC90c3Bhbj48L3RleHQ+PGcgZmlsbD0iI0IxQjRDNSIgdHJhbnNmb3JtPSJtYXRyaXgoLTEgMCAw%0D%0AIDEgMTc3IDM5KSI+PHJlY3Qgd2lkdGg9IjUwIiBoZWlnaHQ9IjQiIHk9IjEwIiByeD0iMiIvPjxw%0D%0AYXRoIGQ9Ik00MS45NjMgMi4wMTVsOC41OSA4LjcyOGMuNzE2LjcyNy43MSAxLjg5Ni0uMDEzIDIu%0D%0ANjE2YTEuODMzIDEuODMzIDAgMDEtMi42LS4wMTNsLTguNTktOC43MjhhMS44NTUgMS44NTUgMCAw%0D%0AMS4wMTMtMi42MTYgMS44MzMgMS44MzMgMCAwMTIuNi4wMTN6Ii8+PHBhdGggZD0iTTM5LjM1IDE5%0D%0ALjM4Mmw4LjU5LTguNzI4YTEuODMzIDEuODMzIDAgMDEyLjYtLjAxM2MuNzIzLjcyLjcyOSAxLjg4%0D%0AOS4wMTMgMi42MTZsLTguNTkgOC43MjhhMS44MzMgMS44MzMgMCAwMS0yLjYuMDEzIDEuODU1IDEu%0D%0AODU1IDAgMDEtLjAxMy0yLjYxNnoiLz48L2c+PGcgZmlsbD0iI0IxQjRDNSIgdHJhbnNmb3JtPSJz%0D%0AY2FsZSgxIC0xKSByb3RhdGUoLTU1IC04Mi41NzQgLTEzMS4xOTUpIj48cmVjdCB3aWR0aD0iNTAi%0D%0AIGhlaWdodD0iNCIgeT0iMTAiIHJ4PSIyIi8+PHBhdGggZD0iTTQxLjk2MyAyLjAxNWw4LjU5IDgu%0D%0ANzI4Yy43MTYuNzI3LjcxIDEuODk2LS4wMTMgMi42MTZhMS44MzMgMS44MzMgMCAwMS0yLjYtLjAx%0D%0AM2wtOC41OS04LjcyOGExLjg1NSAxLjg1NSAwIDAxLjAxMy0yLjYxNiAxLjgzMyAxLjgzMyAwIDAx%0D%0AMi42LjAxM3oiLz48cGF0aCBkPSJNMzkuMzUgMTkuMzgybDguNTktOC43MjhhMS44MzMgMS44MzMg%0D%0AMCAwMTIuNi0uMDEzYy43MjMuNzIuNzI5IDEuODg5LjAxMyAyLjYxNmwtOC41OSA4LjcyOGExLjgz%0D%0AMyAxLjgzMyAwIDAxLTIuNi4wMTMgMS44NTUgMS44NTUgMCAwMS0uMDEzLTIuNjE2eiIvPjwvZz48%0D%0AZyBmaWxsPSIjQjFCNEM1IiB0cmFuc2Zvcm09InJvdGF0ZSgtNTUgMjQwLjAyMiAtMTAzLjY1MSki%0D%0APjxyZWN0IHdpZHRoPSI1MCIgaGVpZ2h0PSI0IiB5PSIxMCIgcng9IjIiLz48cGF0aCBkPSJNNDEu%0D%0AOTYzIDIuMDE1bDguNTkgOC43MjhjLjcxNi43MjcuNzEgMS44OTYtLjAxMyAyLjYxNmExLjgzMyAx%0D%0ALjgzMyAwIDAxLTIuNi0uMDEzbC04LjU5LTguNzI4YTEuODU1IDEuODU1IDAgMDEuMDEzLTIuNjE2%0D%0AIDEuODMzIDEuODMzIDAgMDEyLjYuMDEzeiIvPjxwYXRoIGQ9Ik0zOS4zNSAxOS4zODJsOC41OS04%0D%0ALjcyOGExLjgzMyAxLjgzMyAwIDAxMi42LS4wMTNjLjcyMy43Mi43MjkgMS44ODkuMDEzIDIuNjE2%0D%0AbC04LjU5IDguNzI4YTEuODMzIDEuODMzIDAgMDEtMi42LjAxMyAxLjg1NSAxLjg1NSAwIDAxLS4w%0D%0AMTMtMi42MTZ6Ii8+PC9nPjwvZz48L3N2Zz4=);
  width: 100%;
  height: 23vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.rules {
  cursor: pointer;
  position: fixed;
  right: 3rem;
  bottom: 1.5rem;
  padding: .3rem 2.5rem;
  font-size: 1.5rem;
  background: transparent;
  border: 1px solid #606e85;
  border-radius: 10px;
  outline: none;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.rules:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.block-on-off {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.body-on-off {
  background: rgba(0, 0, 0, 0.7) !important;
}

.fight-ground {
  display: none;
  width: 100%;
  height: 25vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  margin: 2rem auto;
  overflow: hidden;
}

.referee {
  width: 25%;
  height: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.referee .result {
  font-size: 1.5rem;
}

.referee .play-again {
  background: #fff;
  font-size: .75rem;
  border-radius: 15px;
  color: #000;
  padding: .3rem 1.5rem;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}

.referee .play-again:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.fighter-circle {
  width: 25%;
  height: 60%;
  border-radius: 50%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 70%;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.fighter-circle:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.battle-ground {
  width: 80%;
  height: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDUiIGhlaWdo%0D%0AdD0iMjc3Ij48cGF0aCBmaWxsPSJub25lIiBzdHJva2U9IiMwMDAiIHN0cm9rZS13aWR0aD0iMTUi%0D%0AIGQ9Ik0yOTEuNSA3LjVINC41NzRjMy4xMTkgMCA1Mi40MTYgODQuNjY3IDE0Ny44OTIgMjU0TDI5%0D%0AMS41IDcuNXoiIG9wYWNpdHk9Ii4yIi8+PC9zdmc+);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50% 70%;
  padding: .5rem;
  margin: 2rem auto;
  overflow: hidden;
}

.battle-ground .battle-ground__two-circles {
  width: 100%;
  height: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.battle-ground .battle-ground__one-circle {
  width: 100%;
  height: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.player-circle {
  width: 30%;
  height: 90%;
  border-radius: 50%;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 70%;
  -webkit-box-shadow: inset -33px 29px 151px -120px black;
          box-shadow: inset -33px 29px 151px -120px black;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.player-circle:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.paper-circle {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OSIgaGVpZ2h0%0D%0APSI1OSI+PHBhdGggZmlsbD0iIzNCNDI2MiIgZD0iTTQ3LjEyNSAxMS44MzJhMi45MjIgMi45MjIg%0D%0AMCAwMC0xLjIzMi0uMTk4Yy0uNTcuMDQtMS4wMjkuMjcxLTEuMzAyLjY1LTEuNjA0IDIuMjQ4LTIu%0D%0AOTE5IDYuNDkzLTMuOTc5IDkuOTA1LS40ODYgMS41NzctMS4xNCAzLjY4OC0xLjYxMiA0LjY5LS40%0D%0AOTMtMi44MDcuMDY0LTEzLjA5LjI4LTE3LjA1bC4wMDMtLjA2NGMuMTUtMi43NTEuMTctMy4yMzQu%0D%0AMTM4LTMuNDQ2LS4yMzgtMS41MDktLjg0My0yLjUtMS43OTktMi45NDMtLjk2Ni0uNDUtMi4yMi0u%0D%0AMjUtMy41NzIuNTYzLS42NzcuNDEtLjg2NSAxLjgxNi0xLjQ0NiA4LjE5bC0uMDAyLjAyOGMtLjMy%0D%0AIDMuNTAyLTEuMDU4IDExLjU2Ni0xLjk2NSAxMi45MS0xLjAyMy0xLjg4LTIuNDMxLTEyLjU1NS0z%0D%0ALjAzOS0xNy4xNzYtLjQyNS0zLjIzNi0uNjczLTUuMDk0LS44NC01LjY1NS0uMzUtMS4xNzYtMS44%0D%0AMy0yLjE3Ni0zLjI5NS0yLjIzMi0xLjIyLS4wNi0yLjIyLjU2LTIuNjk4IDEuNjM4LS44OTQuOTk1%0D%0ALS41NzggNC4yOTIuNDEgMTIuMTAyLjQ3IDMuNzE4IDEuNDQgMTEuMzk1LjgzIDEyLjI1Ny0xLjIx%0D%0AOS0uMTMzLTMuMzEtNC45NDItNi4yMTUtMTQuMjk5LS44MTYtMi42Mi0xLjA2OC0zLjQwOC0xLjMx%0D%0AOC0zLjc1My0uNDk0LTEuMjAyLTIuMTcyLTIuMTI5LTMuNjc2LTIuMDI0YTMuMTgzIDMuMTgzIDAg%0D%0AMDAtLjM3Ny4wNDljLS43ODcuMTU2LTIuNTg0Ljg4MS0yLjIgNC4yMjYgMS4wNiA0LjYzNyAyLjIx%0D%0AMyA4LjA0MSAzLjMzMSAxMS4zNDZsLjAyMy4wNjZjLjY2OSAxLjk4IDEuMzAyIDMuODUgMS44OSA1%0D%0ALjkyNSAxLjM4NSA0LjkuODQ2IDcuOTQuODQgNy45NzUtLjA0Ni4zMTItLjE0My41MDMtLjI4OC41%0D%0AN2EuNTU2LjU1NiAwIDAxLS4xOTUuMDQ1Yy0uNDQuMDMtMS4wOTgtLjI2LTEuNDM3LS40NS0uNzc2%0D%0ALTEuNDgyLTQuNjM2LTguNTQ0LTguMTM0LTkuNTI0bC0uMTI2LS4wMzctLjEyNy4wMTJjLTEuMjgz%0D%0ALjEyMS0yLjIyNi42MDYtMi44MDMgMS40NDEtLjkxNCAxLjMyLS41MzUgMy4wMDItLjQ0NCAzLjM0%0D%0AbC4wNTIuMTJjLjAyOC4wNTEgMi44MzQgNS4xNjUgMy4yNjggNy41NDQuMzc0IDIuMDQgMi4zMTEg%0D%0ANC4yNSAzLjg2OSA2LjAyNmwuMDY0LjA3M2MuNTA4LjU4Ljk0NiAxLjA4MyAxLjI5MiAxLjU0OCA0%0D%0ALjUxOSA0LjcxMyAxMS42NjUgOC42NzcgMTEuNzIzIDguNzEuODkyLjY1NyAxLjM4NyAxLjI5MyAx%0D%0ALjQ0IDEuODRhLjc5OC43OTggMCAwMS0uMTYuNThsLS4xNTUuMTYyLjk4OC45NiAxOC44NTMtMS4z%0D%0AMjQuODA0LTMuNjg0YzIuNDg2LTEwLjQwMiAxLjk2Ny0xOS4yNzIgMS45NTgtMTkuMzMuMDEtLjMy%0D%0ANy43MDYtMy40ODMgMS4yNjYtNi4wMzNsLjAxNy0uMDY1YzEuMTE3LTUuMDggMi41MDUtMTEuNCAy%0D%0ALjc3Mi0xMy44MDMuMTE2LTEuMDI4LS41NDItMS45NzItMS42NzUtMi40MDF6Ii8+PC9zdmc+);
  border: 1rem solid #4c69f1;
}

.scissors-circle {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MSIgaGVpZ2h0%0D%0APSI1OCI+PHBhdGggZmlsbD0iIzNCNDI2MiIgZD0iTTEzLjk3MSAyNS43MDJsNi4wMTItOC40MTVj%0D%0ALTIuNDk5LS40MTUtNy4wODgtLjUwNy0xMC44NDYgMy4yMzVDMy4yMTIgMjYuNDIxLjgxMiAzOS4x%0D%0ANjMuMzEyIDQyLjI0OEwxNS4zNyA1Ny4yNGMyLjcxMS0uMjMyIDE0LjcxMy0xLjgyNyAyNi4yNzkt%0D%0AMTMuMzQuMTIyLS4yNDkgMi45NC0yLjMyMS42MzYtNC42MTQtMS4xLTEuMDk1LTIuOTE5LTEuMDc0%0D%0ALTQuMDQyLjA0NC0uNTcyLjU3LTEuNDYxLjU3Ny0yLjAyMS4wMi0uNTYtLjU1Ny0uNTUyLTEuNDQz%0D%0ALjAyLTIuMDEybDQuMDg3LTQuMDY5YzIuMDc2LTIuMDY3LjExOS01LjU1NS0yLjc4LTQuNzE3bC0z%0D%0ALjM0NSAyLjg1MWMtLjYxMS41My0xLjUyLjQzOS0yLjAyMi0uMTQtLjUxOS0uNTk3LS40MDgtMS41%0D%0AMDMuMTgzLTIuMDEzIDExLjY4Ny0xMC4yMDggOS45OC04Ljk3OSAxNy41LTE1Ljk5NSAyLjgwOS0y%0D%0ALjMyOS0uNzI1LTYuNDQ3LTMuNDkzLTQuMDlMMjguMTgyIDI1LjQ1Yy0uNTI5LjQ0OC0xLjM0LjQ1%0D%0ANy0xLjg2LS4wMi0uNjAxLS41MTctLjYxNS0xLjI2Mi0uMjIyLTEuODVMMzguNzg3IDMuOTQ0YzEu%0D%0AODU0LTIuNS0xLjc5NS01LjI3Ny0zLjc0OS0yLjc1N0wxNi4yOCAyNy4zMDdjLS40NTIuNjUtMS4z%0D%0ANjQuOC0xLjk4NS4zNDVhMS4zNzcgMS4zNzcgMCAwMS0uMzIzLTEuOTV6Ii8+PC9zdmc+);
  border: 1rem solid #f39f1b;
}

.rock-circle {
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0%0D%0APSI0OCI+PHBhdGggZmlsbD0iIzNCNDI2MiIgZD0iTTQ1LjA2IDEyLjIyYy0uNjQyLTguMDk2LTku%0D%0ANzM0LTcuMjY5LTkuNzM0LTcuMjY5LTMuODM3LTYuNzY1LTkuODMyLTEuODY1LTkuODMyLTEuODY1%0D%0ALTQuNjA2LTYuNjMtMTAuMzgtLjQ4Ni0xMC4zOC0uNDg2LTkuOTU3LTEuMDc0LTkuNTcxIDcuMDY2%0D%0ALTkuNTcxIDcuMDY2LS4yMzQgMi41ODggMS40MDMgMTAuNTkzIDEuNDAzIDEwLjU5My0xLjQ3Ny00%0D%0ALjYxNC00LjY4LS43ODQtNC42OC0uNzg0LTMuOTQgNi4wNzgtLjk3NSA5LjQwNS0uOTc1IDkuNDA1%0D%0AIDUuMzMgNi4yNDYgMTYuNjg4IDEzLjc0MyAxNi42ODggMTMuNzQzIDQuMTEzIDIuMzU2IDIuMzcz%0D%0AIDQuNDU3IDIuMzczIDQuNDU3bDI0Ljg3Ni00LjExLjU3MS00LjcxOGMzLjc4Mi0xMS40MzYtLjcz%0D%0AOS0yNi4wMzItLjczOS0yNi4wMzJ6Ii8+PC9zdmc+);
  border: 1rem solid #dc3c58;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 70%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-weight: 600;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
}

.body {
  background: -webkit-gradient(linear, left top, left bottom, from(#1f3756), to(#141539));
  background: linear-gradient(#1f3756, #141539);
}

.container {
  max-width: 60%;
  margin: 0 auto;
  height: 100vh;
  padding: .05rem 0;
  overflow: hidden;
}

.dash-board {
  width: 90%;
  height: 13vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 1rem auto;
  border: 2px solid #606e85;
  border-radius: 15px;
  padding: 1rem;
  overflow: hidden;
}

.dash-board .dash-board__player-list {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
  padding: 1rem;
}

.dash-board .dash-board__player-list .players-img {
  max-width: 100%;
  height: auto;
}

.dash-board .dash-board__score {
  width: 25%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
}

.dash-board .dash-board__score .score-text {
  color: #2a46c0;
  margin-bottom: .5rem;
}

.dash-board .dash-board__score .players-score {
  color: #2a46c0;
  font-size: 2.5rem;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100% !important;
  }
  .dash-board {
    height: 25vw;
  }
  .battle-ground {
    height: 50vw !important;
  }
  .fight-ground {
    height: 50vw !important;
  }
  .rules-block {
    width: 50% !important;
    height: 50vw !important;
  }
  .rules-block__body {
    height: 40vw !important;
  }
}

@media screen and (max-width: 425px) {
  .score-text {
    font-size: .5rem !important;
  }
  .battle-ground {
    width: 100% !important;
    height: 70vw !important;
  }
  .players-score {
    font-size: 1rem !important;
  }
  .rules {
    right: 50%;
    -webkit-transform: translate(50%);
            transform: translate(50%);
  }
  .rules:hover {
    -webkit-transform: scale(1) !important;
            transform: scale(1) !important;
  }
  .block-on-off {
    display: block !important;
  }
  .rules-block {
    width: 70% !important;
    height: 70vw !important;
  }
  .rules-block__body {
    height: 60vw !important;
  }
  .result {
    font-size: 1rem !important;
  }
  .play-again {
    font-size: .6rem !important;
    padding: .2rem 1rem !important;
  }
}

@media screen and (max-width: 342px) {
  .battle-ground {
    height: 80vw !important;
  }
  .fight-ground {
    height: 50vw !important;
  }
  .result {
    font-size: .7rem !important;
  }
  .play-again {
    font-size: .5rem !important;
    padding: .2rem 1rem !important;
  }
}
/*# sourceMappingURL=main.css.map */
