@import "_varibles.scss";
@import "_rules.scss";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-weight: 600;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}
.body{
    background: $background;
}
.container{
    max-width: 60%;
    margin: 0 auto;
    height: 52.5vw;
    padding: .05rem 0;
    overflow: hidden;
}
.dash-board{
    width: 90%;
    height: 13vw;
    @include flex(row, space-between, flex-start);
    margin: 1rem auto;
    border: 2px solid $headerOutline;
    border-radius: 15px;
    padding: 1rem;
    overflow: hidden;
    .dash-board__player-list{
        width: 30%;
        height: 100%;
        @include flex(column, center, flex-start);
        overflow: hidden;
        padding: 1rem;

        .players-img{
            max-width: 100%;
            height: auto;
        }
    }
    .dash-board__score{
        width: 25%;
        height: 100%;
        @include flex(column, center, center);
        padding: 1rem;
        overflow: hidden;
        background : #fff;
        border-radius: 10px;
        .score-text{
            color: $scoreText;
            margin-bottom: .5rem;
        }
        .players-score{
            color: $scoreText;
            font-size: 2.5rem;
        }
    }
}
.battle-ground{
    width: 80%;
    height: 30vw;
    @include flex(column, space-between, flex-start);
    background-image: url(/img/bg-triangle.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 70%;
    padding: .5rem;
    margin: 2rem auto;
    overflow: hidden;

    .battle-ground__two-circles{
        width: 100%;
        height: 48%;
        @include flex(row, space-around, center);
        overflow: hidden;
        .paper-circle{
            background-image: url(/img/icon-paper.svg);
            border: 1rem solid #4c69f1;
        }
        .scissors-circle{
            background-image: url(/img/icon-scissors.svg);
            border: 1rem solid #f39f1b;
        }
    }
    .battle-ground__one-circle{
        width: 100%;
        height: 48%;
        @include flex(row, center, center);
        overflow: hidden;
        .rock-circle{
            background: url(/img/icon-rock.svg);
            border: 1rem solid #dc3c58;
            background-color: #fff;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 70%;
        }
    }
}
.player-circle{
    width:30%;
    height: 90%;
    border-radius: 50%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 70%;
    transition: all .3s;
    &:hover{
        transform: scale(1.1);
    }
}
.rules{
    cursor: pointer;
    position: fixed;
    right:3rem;
    padding: .3rem 2.5rem;
    font-size: 1.5rem;
    background: transparent;
    border:1px solid $headerOutline;
    border-radius: 10px;
    outline: none;
    transition: all .5s;
    &:hover{
        transform: scale(1.1);
    }
}

